<template>
    <b-tabs type="is-toggle" expanded v-model="activeTab">
        <b-tab-item label="Query catalog">
            <catalog-query @submitCatalogQuery="handleCatalogQuery"></catalog-query>
        </b-tab-item>
        <b-tab-item label="Select plant">
            <query-result :plants="plants"></query-result>
        </b-tab-item>
        <b-tab-item label="Review order">
        </b-tab-item>
    </b-tabs>
</template>

<script>
import CatalogQuery from "./CatalogQuery.vue";
import QueryResult from "./QueryResult.vue";

import axios from "axios";

export default {
    name: "OrderCreation",
    components: {
        CatalogQuery,
        QueryResult
    },
    data: function() {
        return {
            activeTab: 0,
            plants: [{id: 1, name:"Bike", description:"Nice and shiny", price:100},{id: 2, name:"Truck", description:"Rusty", price:1000}]
        }
    },
    methods: {
        handleCatalogQuery: function(query) {
            if (query.name && query.startDate && query.endDate) {
                let params = {
                    name: query.name,
                    startDate: "2018-03-26", // query.startDate,
                    endDate: "2018-03-27" //query.endDate
                }
                axios.get("http://localhost:8090/api/sales/plants", {params: params})
                    .then(response => {
                        this.activeTab = 1;
                        this.plants = response.data;
                    })
            }
        }
    }
}
</script>